.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .input {
    padding: 10px 16px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #979797;
  }

  .titleWrapper {
    padding: 0 16px;

    p {
      color: #3a3945;
      font-family: Poppins-Regular;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.32px;
      text-transform: capitalize;
    }
  }

  .error {
    font-family: Poppins-Regular;
    font-size: 12px;
    font-weight: 500;
    color: #a60063;
    padding: 0 16px;
  }
}
