@font-face {
  font-family: "Syne-Bold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    local("Syne-Bold"),
    url("/fonts/Syne-Bold.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    local("Poppins-Regular"),
    url("/fonts/Poppins-Regular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins-Bold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    local("Poppins-Bold"),
    url("/fonts/Poppins-Bold.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins-SemiBold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    local("Poppins-SemiBold"),
    url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.modal-enter {
  opacity: 0;
  transform: scale(0.4);
  transition: left 0.2s ease-in-out;
}

.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  transition: all 0.2s ease 0s;
}

.modal-exit-active {
  opacity: 0;
  transform: scale(0.4);
  visibility: visible;
  transition: all 0.2s ease 0s;
}
