.overlay {
  position: fixed;
  inset: 0;
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outside {
  position: absolute;
  inset: 0;
}

.content {
  z-index: 9999;
  width: 100%;
  max-width: 1000px;
  position: relative;
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

  .closeBtn {
    z-index: 10;
    position: absolute;
    right: 16px;
    top: 16px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
